/* Options Framework Admin Styles */

#wcmnd_optionsframework {
    background:#FFF;
}
#wcmnd_optionsframework h3 {
	cursor: default;
	color:#24282d;
	font-size: 22px;
	font-weight: 200;
	padding: 15px 10px;
	margin: 0;
}
#section-wcmnd_analytics .demo-analytics-wrap {
	display: block;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 13px;
}
#wcmnd_optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
}
#section-wcmnd_analytics .controls {width: 100% !important;}
#wcmnd_optionsframework div.section .option{ width: 70%; }
#wcmnd_optionsframework-wrap h2.nav-tab-wrapper {
	width: 98%;
	border-bottom: 1px solid #e5e5e5;
    padding: 12px 10px 0;
    margin: 0 0 -1px;
    background: #fafafa;
    background: transparent;
    font-size: 0;
    position: relative
}
#wcmnd_optionsframework-metabox {
	padding: 0 !important;
}
#wcmnd_optionsframework h4.heading {
	font-weight: 600;
	color: #24282d;
}
#wcmnd_optionsframework label.explain {font-size: 12px !important; color: #767a7f !important;}
#wcmnd_optionsframework-wrap a.nav-tab {
	display: block;
    padding: 8px 10px;
    border: 1px solid #e5e5e5;
    background: #fafafa;
    color: #24282d;
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    bottom: -1px;
    margin-left: 0px;
}
#wcmnd_optionsframework-wrap a.nav-tab.nav-tab-active {
	text-decoration: none;
    background: #fff;
    border-bottom-color: #fff;
    position: relative;
    z-index: 1;
    bottom: -1px;
}
#wcmnd_optionsframework .section {
	padding:5px 10px 10px 10px;
	border-width: 1px 1px 0 0;
    border-style: dashed;
    border-color: #e5e5e5;
}
#wcmnd_optionsframework .group {
	padding-bottom:40px;
}
#wcmnd_optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}
#wcmnd_optionsframework .section .explain {
	max-width:38%;
	float: left;
	font-size: 12px;
	line-height:16px;
	color: #767a7f !important;
}
#wcmnd_optionsframework .section-checkbox .controls {
	width: 98%;
}
#wcmnd_optionsframework .section-checkbox .explain {
	max-width:94%;
}
#wcmnd_optionsframework .controls input[type=text] {
	width:100%;
}
#wcmnd_optionsframework .controls input[type=text].wp-color-picker {
    width: 65px;
}

#wcmnd_optionsframework .controls select, #wcmnd_optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#wcmnd_optionsframework .section-radio label, #wcmnd_optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#wcmnd_optionsframework input.checkbox, #wcmnd_optionsframework input.of-radio {
	margin: 0 10px 5px 0;
	float:left;
	clear:both;
}
#wcmnd_optionsframework .section-typography .controls {
	float:none;
	width:auto;
}
#wcmnd_optionsframework .section-typography .explain {
	float:none;
	width:auto;
}
#wcmnd_optionsframework .controls .of-typography-size {
	width:80px;
	float:left
}
#wcmnd_optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#wcmnd_optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
.pro-feature .wpr-pro-block.show {
	display: block;
}

.pro-feature .wpr-pro-block a:hover {
	text-decoration: underline;
}

.pro-feature .wpr-pro-block a {
	text-align: center;
	display: block;
	color: #FFF;
	padding-top: 17px;
}

.pro-feature {
	position: relative;
	background: rgba(255, 252, 252, 0.7) !important;
}

.pro-feature .wpr-pro-block {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(18, 103, 153, 0.7);
	display: none;
	z-index: 99999;
}
.pro-feature .wpr-pro-block span {
	top: 10px;
	position: relative;
}
#wcmnd_optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#wcmnd_optionsframework .section-typography .wp-picker-container {
	margin-top:2px;
}
#wcmnd_optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;
}
#wcmnd_optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#wcmnd_optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#wcmnd_optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#wcmnd_optionsframework .section-background .wp-picker-container {
	margin-bottom:10px;
}
#wcmnd_optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#wcmnd_optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#wcmnd_optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#wcmnd_optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#wcmnd_optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#wcmnd_optionsframework .hide {
	display:none;
}
#wcmnd_optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#wcmnd_optionsframework .mini .controls select, #wcmnd_optionsframework .section .mini .controls {
	width: 140px;
}
#wcmnd_optionsframework .mini .controls input, #wcmnd_optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#wcmnd_optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#wcmnd_optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
	color: #ccc;
}

/* Image Uploader */

#wcmnd_optionsframework .controls input.upload {
	width:80%;
}
#wcmnd_optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#wcmnd_optionsframework .screenshot img {
	background:#fafafa;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	padding:4px;
	margin-bottom:10px;
	width: 20%;
}
#wcmnd_optionsframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
.wcmnd_optionsframework  .button-primary {
	background: #344A5F;
}
#wcmnd_optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#wcmnd_optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}
#wcmnd_optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#wcmnd_optionsframework-submit {
	padding: 10px 10px;
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
}
#wcmnd_optionsframework .button-primary {
	float:right;
	background-color: #0073aa;
}
#wcmnd_optionsframework .section:after {
	content: "";
	display: table;
}
#wcmnd_optionsframework .section:after {
	clear: both;
}
.icons-search-input{
    min-width: 100% !important;
}
#wcmnd_optionsframework  .section#section-social .controls {
    width: 100%;
}
#section-social .controls input.social_link {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
#wcmnd_optionsframework-wrap > h2 {
	margin-bottom: 10px;
}
#wcmnd_optionsframework-wrap .nav-tab {
	background: #344A5F;
	color: #fff;
}
#wcmnd_optionsframework-wrap .nav-tab-active {
	background: #14a085;
	color: #fff;
}
#wcmnd_optionsframework-wrap .wcmnd-tab-icon {
  font-size: 18px;
	display: none;
}
#wcmnd_optionsframework-wrap .wcmnd-tab-bg-icon {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 5px;
  padding: 3px 0;
  background-repeat: no-repeat;
  background-position: left center;
	display: none;
}
.wpr-new-field,.wpr-new-fields {
    margin: 0px 0px 20px 0px;
}
.metabox-holder {
	width: 100%;
	float: left;
}
.queries-holder {
	width: 28%;
	margin-left: 2%;
	float: left;
	padding-top: 1%;
	font-size: 20px;
	line-height: 34px;
	text-align: center;
}
.wcmnd_help {
	background: #14A085;
	padding: 10px;
	color: #344A5F;
}
.wcmnd_help a {
	text-decoration: none;
	color: #fff;
}
#wcmnd_optionsframework li.select2-selection__choice {
	padding: 5px 2px;
}
li#toplevel_page_mailchimp-subscribe-discounts div.wp-menu-image:before {
	content: '' !important;
	background-repeat: no-repeat;
	background-position: center;
}
#wcmnd_optionsframework-wrap #setting-error-save_options {width:auto;}
#wcmnd_email_message_ifr {height: 300px !important;}
#wcmnd_optionsframework input[type=text], #wcmnd_optionsframework select {
	height: 35px;
}
.upgrade-to-pro-section {
  text-align: right
}
.upgrade-to-pro-section a {
  display: inline-block;
}
.upgrade-to-pro-section a:hover,
.upgrade-to-pro-section a:focus {
  outline: none;
  border: none;
  box-shadow: none;
  opacity: 0.8;
}

/* On Off Style */
#wcmnd_optionsframework .onoff-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 70px;
}
#wcmnd_optionsframework .onoff-switch input {
  display:none;
}
#wcmnd_optionsframework .onoff-switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
#wcmnd_optionsframework .onoff-switch .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
#wcmnd_optionsframework .onoff-switch input:checked + .slider {
  background-color: #1673a9;
}
#wcmnd_optionsframework .onoff-switch input:checked + .slider:before {
  transform: translateX(36px);
}
#wcmnd_optionsframework .onoff-switch .slider.round {
  border-radius: 34px;
}
#wcmnd_optionsframework .onoff-switch .slider.round:before {
  border-radius: 50%;
}
#section-ace_editor #ace_editor,  #section-ace_editor .ace_editor{
	height: 250px!important;
	width: 440px!important;
  margin-top: 20px;
}
