/*
 Theme Name:   Hafva child
 Description:  Ekko child theme for Hafva
 Author:       Timelab
 Template:     ekko
 Version:      1.0.1
 Text Domain:  tmagasinet
*/

.grecaptcha-badge {
  z-index: 2999999999;
}

.back-to-top {
  bottom: 90px;
}

.back-to-top.active {
  right: 21px;
}

body.archive.woocommerce-page .blog-page-heading .container .section-heading {
  display: none;
}

body.archive.woocommerce-page .blog-page-heading .container .term-description h1,
body.archive.woocommerce-page .blog-page-heading .container .term-description h2,
body.archive.woocommerce-page .blog-page-heading .container .term-description h3,
body.archive.woocommerce-page .blog-page-heading .container .term-description h4,
body.archive.woocommerce-page .blog-page-heading .container .term-description p,
body.archive.woocommerce-page .blog-page-heading .container .breadcrumbs {
  color: #FFF !important;
}

/* Woo category accordion */
ul#outer_ul {
  padding-left: 0;
}

/* Zoomed product image */
.pswp--open .pswp__img {
  background-color: #fff;
}

.widget.widget_wc_category_accordion .trwca-accordion a {
  background: #F78AC8;
  color: #000000 !important;
  border-bottom: 1px solid #ffb6df;
  color: #FFF!important;
}

.widget.widget_wc_category_accordion .trwca-accordion a:hover, .acorange li.current-cat a, .acorange li.current-cat-parent a {
  background: #F79ED0;
  color: #FFF!important;
}

.widget.widget_wc_category_accordion .trwca-accordion li ul a {
  background: #f4f4f4;
  color: #000000 !important;
  border-bottom: 1px solid #fff;
}

.widget.widget_wc_category_accordion ul.trwca-accordion li ul:last-child a:hover {
  border-color: #020000;
  color: #FFF!important;
}

div.team-member.design-creative .team-content .team-content-hover h4 {
  font-size: 25px;
}

body .woocommerce ul.products li.product .button,
body.woocommerce ul.products li.product .add_to_cart_button,
body.woocommerce ul.products li.product .button,
body.woocommerce ul.products li.product .added_to_cart {
  color: #000 !important;
}

body .topbar .keydesign-cart span.badge,
body .menubar .keydesign-cart span.badge {
  color:#fff !important;
}

a#payson-logo:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  outline-color: transparent !important;
}

@media (min-width: 975px) and (max-width: 1252px) {
  .woocommerce-page ul.products li.product.woo-minimal-style .categories {
    display:none;
  }
}

@media (max-width: 943px) {

  .first-header {
    padding-top: 58px;
  }

  .container h2.woocommerce-loop-product__title {
    font-size: 20px !important;
  }

  .woocommerce-page ul.products li.product.woo-minimal-style:hover h2,
  .woocommerce-page ul.products li.product.woo-minimal-style:hover .price {
    transform: translateY(-16px) !important;
  }

  .woocommerce-page ul.products li.product.woo-minimal-style .button {
    bottom: 70px !important;
  }

  .woocommerce ul.products li.product a img {
    width: 50% !important;
    margin: 0 auto !important;
    padding-bottom: 40px;
  }
}

@media (max-width: 959px) {
    
  body.woocommerce-cart #single-page table.cart .product-name, .woocommerce-cart #single-page table.cart .product-price, .woocommerce-cart #single-page table.cart .product-quantity, .woocommerce-cart #single-page table.cart .product-subtotal {
   padding: 8px;
   max-width: 300px;
   font-size: 14px;
  }
  
  body.woocommerce-page #wrapper {
      padding-top: 65px;
  }
  
  #main-menu .navbar-nav .menu-item-has-children .mobile-dropdown {
      width: 100%;
      text-align: right;
      cursor: pointer;
  }
  
  .cta-button-mobile { margin-top: -30px; }
  .widget_wc_category_accordion h5 {
      background-color: #F78AC8;
      padding: 15px;
      margin-bottom: 0 !important;
  }
  
  .widget_wc_category_accordion h5:after {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 15px;
      right: 20px;
      content: '\f054';
      font-family: fontawesome;
      font-size: 14px;
  }
  
  .widget_wc_category_accordion h5.open:after {
      content: '\f078';
  }
  
  .widget_wc_category_accordion .trwca-actheme { display:none; }
  
  .team-member.design-creative .team-content .team-content-hover h4, .team-member.design-creative .team-content .team-content-hover .team-subtitle {
      transform: none !important;
      margin-bottom: 0px !important;
  }
}

.woocommerce-cart #single-page table.cart .button:not(:hover),
body.woocommerce-page .woocommerce-cart-form button:not(:hover),
body.woocommerce-page .cart_totals .wc-proceed-to-checkout a:not(:hover), 
body.woocommerce-page .woocommerce-form-coupon button:not(:hover), 
body.woocommerce-page .woocommerce-checkout button:not(:hover), 
body.woocommerce-page.woocommerce-account .woocommerce a.button:not(:hover), 
body.woocommerce-page.woocommerce-account .woocommerce button:not(:hover) {
  color: #FFF!important;
}



.topbar-custom-content {
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: #0A0A0A !important;
}

.topbar-right-content .topbar-custom-content,
.topbar-right-content .topbar-contact {
  float: left;
}

.topbar-right-content .topbar-custom-content { border-right: 1px solid rgba(132, 132, 132, 0.15); }
.topbar-left-content .topbar-custom-content { float: right; }

.topbar-left-content,
.topbar-right-content {
  display: flex;
}

.topbar-center-content {
  display: flex;
  margin: 0 auto;
}

.topbar-center-content + .topbar-right-content {
  margin-left: 0;
}

html .woocommerce .woocommerce-ordering select.orderby {
  border: 1px solid #0000004a;
  padding: 5px 20px 5px 5px;
}
.woocommerce .woocommerce-ordering:after {
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 959px) {
  html .woocommerce .woocommerce-ordering select.orderby {
    max-width: none;
    width: 100%;
    float: left;
  }

  html .woocommerce .woocommerce-ordering, 
  html .woocommerce-page .woocommerce-ordering, 
  html .woocommerce .woocommerce-result-count, 
  html .woocommerce-page .woocommerce-result-count {
    width: 100%;
    text-align: left;
  }

}

.key-icon-box h6.service-heading , h6.vc_custom_heading {
  font-weight:500;
}

.woocommerce ul.products li.product h2 {
  font-family: futura-pt;
  font-weight: 500;
}

.testimonials.slider.with-image .tt-container h6 {
  font-family: 'Amiri';
}

body.woocommerce-page .woocommerce-cart-form button,
body.woocommerce-page .cart_totals .wc-proceed-to-checkout a,
body.woocommerce-page .woocommerce-form-coupon button,
body.woocommerce-page .woocommerce-checkout button,
body.woocommerce-page.woocommerce-account .woocommerce a.button,
body.woocommerce-page.woocommerce-account .woocommerce button {
    color: #0a0a0a !important;
}

.entry-header .header-overlay {
  background-position: center 8%;
}

.entry-header .header-overlay {
  background-position: center 8%;
}

.entry-header .section-heading,
.entry-header .breadcrumbs,
.entry-header .term-description {
  float: left;
  clear:left;
  padding: 0 15px;
  background-color: rgba(12, 12, 12, 0.39)!important;
  width: auto;
}		

.entry-header .term-description {
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-template-default .entry-header .breadcrumbs, 
.page-template-default .entry-header .section-heading, 
.page-template-default .entry-header .section-subheading {
  color: #FFFFFF!important;
}

.btn-hover-2 .tt_button:hover {
  background-color: #f78ac8!important;
}		

.woocommerce div.product div.summary klarna-placement {
  margin: 30px 0;
  display: block;
}				

.footer_widget klarna-placement {
  width: 140px; 
  float: left;
}

@media (max-width: 768px) {
  .footer_widget klarna-placement {
      height: 86px;
      margin-top: -27px;
      height: 140px;
      display: flex;
      align-items: center;
  }
  
  .footer-bar { padding-left: 0; }
  .footer-bar .footer-nav-menu { display:none; }
  
  .kd-section-title .subtitle p:last-child { margin-bottom: 0; }
}

@media (max-width: 450px) {
  .woocommerce-cart #single-page table.cart .product-price { display: none;}
}


.woocommerce .quantity {
  position: relative!important;
  display: flex;
}

.woocommerce .quantity input[type=number]::-webkit-inner-spin-button,
.woocommerce .quantity input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none!important;
  margin: 0!important;
}

.woocommerce .quantity input[type=number]
{
  -moz-appearance: textfield!important;
}

.woocommerce .quantity input {
  width: 50px!important;
  height: 48px!important;
  line-height: 1.65!important;
  float: left!important;
  display: block!important;
  padding: 0!important;
  margin: 0!important;
  padding-left: 10px!important;
  border: 1px solid #eee!important;
  text-align: left!important;
}

.woocommerce .quantity input:focus {
  outline: 0!important;
}

.woocommerce .quantity-nav {
  float: left;
  position: relative;
  height: 48px;
}

.woocommerce .quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.woocommerce .quantity-button.woocommerce .quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.woocommerce .quantity-button.woocommerce .quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.pum .pum-container {
  border: none!important;
}

.pum .pum-container .popmake-content {
  text-align: center;
  padding-top: 30px;
}

.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form .wcmnd-fields,
.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form .wcmnd-btn-cont,
.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form .wcmnd-btn-cont button {
  margin-left: 0!important;
  margin-right: 0!important;
}

.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form .wcmnd-btn-cont button {
  border-radius: 0;
  background-color: #F78AC8;
  border: 1px solid #F78AC8;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 15px;
}

.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form input {
  border-radius: 0;
  border: 1px solid #dddddd;
  text-indent: 15px;
}

.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form { margin-top: 15px; }

.pum *:focus-visible,
.pum *:focus {
  outline: none;
}

.pum .pum-container .popmake-content .wc-mailchimp-subscribe-form .newsletter-discount-validation {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .pum-theme-19511 .pum-container, .pum-theme-default-theme .pum-container {
      min-width: auto!important;
  }
}	


@media (max-width: 960px){
  .contact-map-container .business-info-wrapper {
      top: 15px;
  }

  .contact-map-container .kd_map {
    margin-top: 15px;
  }
}

.backorder_notification:not(.custom),
.keydesign-cart ul.product_list_widget .cart-item .backorder_notification {
  display: none;
}